@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Roboto:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  :root {
    --color-primario: #f0a83e;
    --color-secundario: #3c2313;
    --color-terciario: #8a8787;
    --color-cuartenario: #ffff;
    --color-quinto: #000;
    --color-sexto: #AB9C9C;
    --padding-gral: 12px 10px 10px 5px;
    --imagen-principal: url("");
    --fuente-principal: "Roboto", sans-serif;
  }

  html {
    font-size: 62.5%; /* 1rem => 10px*/
  }

  /*
    1 rem es igual a 16px que es el default del html. 62,5% de 16px te da 10px
    Si decís que el font-size va a ser el 62,5 % estás diciendo que ahora esos 16px de antes valgan 10px
  */
  
  body {
    font-family: var(--fuente-principal);
    font-size: 1.6rem;
  }

  header .barra-superior p {
    display: none;
  }

  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primario);
  }

  header nav .logo, .menu {
    margin: 2rem;
  }

  header nav .enlaces {
    display: none;
  }

  main .banner .imagenPrincipalDesktop {
    display: none;
  }

  main .banner .imagenPrincipalMobile {
    width: 100%;
    height: auto;
  }

  main .banner {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main .banner div {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  main .banner div .titulo {
    font-size: 3rem;
    font-weight: bold;
    text-transform: capitalize;
    color: var(--color-cuartenario);
    text-shadow: 0 0 3rem var(--color-secundario);
  }

  main .banner div .subtitulo {
    font-size: 2rem;
    font-weight: bold;
    text-transform: capitalize;
    color: var(--color-quinto);
    /*text-shadow: 40px 40px 10px var(--color-cuartenario); /*si lo pongo se rompe*/
  }

  main .banner div button {
    border: none;
    text-transform: uppercase;
    color: var(--color-cuartenario);
    background-color: var(--color-primario);
    height: 40px; /*si lo pongo en rem se rompe*/
    width: 130px; /*si lo pongo en rem se rompe*/
    margin: 30px;
    border-radius: 7px;
    font-size: 1.3rem;
  }

  main .seccion-productos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem 0 1rem 0;
    text-transform: capitalize;
  }

  main .seccion-productos h1 {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    margin: 2rem;
  }

  main .seccion-productos .texto {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main .seccion-productos .texto p {
    margin: 2rem;
    color: var(--color-terciario);
  }

  main .productos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  main .productos article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
  }

  main .productos article .titulo {
    text-transform: capitalize;
    font-weight: bold;
  }

  main .productos article .precio {
    text-transform: capitalize;
    font-weight: bold;
    color: var(--color-primario);
  }

  main .seccion-contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem;
  }

  main .seccion-contacto h3 {
    font-size: 4rem;
    font-weight: bold;
    color: var(--color-secundario);
    text-transform: capitalize;
  }

  main .seccion-contacto .inputs {
   margin: 2rem;
  }

  main .seccion-contacto .inputs div {
    background-color: var(--color-secundario);
    width: 35rem;
    height: 4rem;
    margin: 1rem;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
  }

  main .seccion-contacto .inputs div p {
    color: var(--color-sexto);
    text-transform: capitalize;
    font-size: small;
    margin-left: 2rem;
  }

  main .seccion-contacto .botones-contenedor button {
    border: none;
    border-radius: 2rem;
    height: 8vh;
    width: 30vw;
    text-transform: capitalize;
  }

  main .seccion-contacto .botones-contenedor .resetear {
    background-color: var(--color-terciario);
  }

  main .seccion-contacto .botones-contenedor .enviar {
    background-color: var(--color-primario);
  }
  
  main .barra-inferior {
    background-color: var(--color-primario);
    display: block;
  }

  main .barra-inferior .publicidad-subscripcion {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  main .barra-inferior .publicidad-subscripcion p {
    font-size: large;
  }

  main .barra-inferior .subscripcion {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  main .barra-inferior .subscripcion .entrada {
    background-color: var(--color-cuartenario);
    height: 4rem;
    width: 30rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem;
    border-radius: 1.5rem;
  }

  main .barra-inferior .subscripcion button {
    border: none;
    height: 3.5rem;
    width: 10rem;
    background-color: var(--color-secundario);
    border-radius: 1.8rem;
    color: var(--color-cuartenario);
    text-transform: capitalize;
    font-weight: bold;
  }

  main .barra-inferior .subscripcion p {
    color: var(--color-sexto);
    padding: 1rem;
    font-weight: 200;
  }

  footer {
    background-color: var(--color-secundario);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer .informacion {
    order: 10;
  }

  footer .informacion .item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-transform: capitalize;
  }

  footer .informacion .item img {
    margin: 1rem;
  }

  footer .informacion .item .texto h3 {
    color: var(--color-cuartenario);
    font-size: 2rem;
  }

  footer .informacion .item .texto p {
    color: var(--color-terciario);
    font-size: 1rem;
  }

  footer .logo {
    order: -10;
    margin-top: 1rem;
  }

  .barra-inferior {
    background-color: var(--color-quinto);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-cuartenario);
    font-weight: bold;
    text-transform: capitalize;
    font-size: small;
    padding: 0.3rem;
  }