@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Roboto:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fuente-principal)
  }
  
  :root {
    --color-primario: #f0a83e;
    --color-secundario: #3c2313;
    --color-terciario: #8a8787;
    --color-cuartenario: #ffff;
    --color-quinto: #000;
    --color-sexto: #AB9C9C;
    --padding-gral: 12px 10px 10px 5px;
    --imagen-principal: url("");
    --fuente-principal: "Roboto", sans-serif;
  }

header .barra-superior {
    background-color: #222222;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f3f3f3;
    font-size: small;
}

header .barra-superior p {
    margin-left: 20px;
}

header .barra-superior section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

header .barra-superior section p {
    margin-right: 20px;
}

header nav {
    background-color: #F0A83E;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 5px 10px 18px #888888;
}

header nav .logo {
    height: 30px;
    width: auto;
}

header nav .enlaces {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav .enlaces .enlace {
    display: flex;
    justify-content: space-evenly; /*NO ME TOMA EL SPACE BIEN*/
    align-items: center;
}

header nav .enlaces .enlace p {
    color: var();
    text-transform: capitalize;
}

header nav .menu {
    visibility: hidden;
}

main .banner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


main .banner .imagenPrincipalMobile {
    display: none;
}

main .banner .imagenPrincipalDesktop {
    height: auto;
    width: 100%;
}

main .banner div {
    position: absolute;
    text-align: center;
    margin-right: 50px;
}

main .banner div p {
    text-transform: capitalize;
    margin: 10px;
}

main .banner div p.titulo {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 4rem var(--color-secundario);
}

main .banner div p.subtitulo {
    font-size: 2rem;
}

main .banner div button {
    border: none;
    text-transform: uppercase;
    color: #f3f3f3;
    background-color: #F0A83E;
    height: 50px;
    width: 160px;
    margin: 30px;
    border-radius: 5px;
    font-size: medium;
}

main .seccion-productos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize;
    margin: 4rem;
  }

main .seccion-productos h1 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin: 2rem 0 1rem 0;
  }

  main .seccion-productos .texto {
    display: flex;
    justify-content: space-between; /*NO ME TOMA EL SPACE BET*/
    align-items: center;
  }

  main .seccion-productos .texto p {
    text-transform: capitalize;
    color: var(--color-terciario); 
  }

main .productos {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main .productos article img {
    width: 280px;
    height: auto;
    
}

main .productos article p {
    text-align: center;
    font-weight: bold;
}

main .productos article p.titulo {
    text-transform: capitalize;
}

main .productos article p.precio {
    color: #F0A83E;
}


















/*
main .seccion-contacto {
    margin: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .seccion-contacto h3 {
    text-transform: capitalize;
    margin: 20px;
    font-size: 2.5rem;
    color: var(--color-secundario);
}

main .seccion-contacto .inputs div {
    margin: 20px;
    background-color: #3C2313;
    border-radius: 2rem;
    width: 340px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

main .seccion-contacto .inputs div {
    color: var(--color-cuartenario);
    font-size: small;
    font-weight: 100;
    padding-left: 3rem;
    text-transform: capitalize;
}

main .seccion-contacto .botones-contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
}

main .seccion-contacto .botones-contenedor button {
    border: none;
    margin: 20px;
    border-radius: 15px;
    width: 110px;
    height: 34px;
    text-transform: capitalize;
    color: var(--color-cuartenario);
}

main .seccion-contacto .botones-contenedor button.resetear {
    background-color: #8A8787;
}

main .seccion-contacto .botones-contenedor button.enviar {
    background-color: #F0A83E;
}
*/


main .formulario {
    display: block;
}

main .seccion-contacto h3 {
    text-transform: capitalize;
    margin: 20px;
    font-size: 2.5rem;
    color: var(--color-secundario);
    text-align: center;
}

main .formulario .nombre-y-apellido, .mail-y-telefono, .asunto-y-detalle, .reserva-y-file, .botones {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}





















main .barra-inferior {
    background-color: #F0A83E;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .barra-inferior .publicidad-subscripcion {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
}

main .barra-inferior .publicidad-subscripcion p {
    margin-left: 10px;
    text-transform: capitalize;
    font-weight: bold;
    font-size: large;
    color: var(--color-cuartenario);
}

main .barra-inferior .subscripcion {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
}

main .barra-inferior .subscripcion div {
    background-color: #FFFFFF;
    border-radius: 15px;
    height: 40px;
    width: 270px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem;
}

main .barra-inferior .subscripcion div p {
    margin-right: 10px;
    text-transform: capitalize;
    margin-left: 10px;
    font-size: 9px;
    color: #A0A0A0;;
}

main .barra-inferior .subscripcion button {
    background-color: #3C2313;
    border-radius: 15px;
    height: 38px;
    width: 7rem;
    text-transform: capitalize;
    color: #FFFFFF;
}

footer {
    background-color: #3C2313;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .informacion .item {
    display: flex;
    align-items: center;
    margin: 2rem 8rem;
    text-transform: capitalize;
}

footer .informacion .item .texto {
    padding-left: 1.5rem;
}

footer .informacion .item h3 {
    color: var(--color-cuartenario);
    font-weight: bold;
    font-size: 1.5rem;
}

footer .informacion .item p {
    color: var(--color-sexto);
    font-size: small;
}

footer .logo {
    color: #f3f3f3;
    margin-right: 10rem;
}

section .barra-inferior {
    background-color: var(--color-quinto);
    color: var(--color-cuartenario);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-size: small;
    padding: 0.5rem;
}