footer {
    align-items: center;
    background-color: black;
    display: flex;
    height: 170px;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    img {
        margin-left: 130px;
    }
    .redes-sociales {
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 130px;
        span {
            font-size: 2rem;
        }
        .iconos {
            display: flex;
            gap: 37px;
            margin: 5px;
            font-size: 2.5rem;
            .fa-twitter {
                color: aqua;
            }
            .fa-facebook-f {
                color: #1476D0;
            }
            .fa-instagram {
                color: #CE0CFF;
            }
        }
    }
}