@import "variables";

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px 30px 100px;
    small {
        font-weight: bold;
    }
    .redes-sociales {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        .icono {
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            background-color: white;
            border-radius: 50%;
            width: 35px;
            height: 35px;
            border: none;
            box-shadow: -3px 0  $bg-primary;
            img {
                width: 15px;
                height: 15px;
            }
        }
    }
}