@import "variables";

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 150px 0 100px;
    .logo {
        font-weight: 800;
        font-size: 3rem;
    }
    nav {
        ul {
            list-style: none;
            display: flex;
            gap: 60px;
            li {
                a {
                    text-decoration: none;
                    color: $color-secondary;
                    font-weight: bold;
                }
                a:hover {
                    color: $shadow;
                    transition: 0.5s;
                }
            }
        }
    }
}