@import "variables"; /* con use no me funciona */

.home {
    display: flex;
    align-items: center;
    margin: 0 100px;
    gap: 20px;
    .text {
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: relative;
        h2 {
            width: 400px;
        }
        p {
            line-height: 20px;
            color: $color-primary;
            font-size: 1.3rem;
        }
        .buttons {
            display: flex;
            gap: 30px;
            button {
                background-color: $bg-primary;
                height: 50px;
                width: 100px;
                border: 1px $color-secondary dotted;
                border-radius: 5px;
            }
            button:hover {
               cursor: pointer;
               background-color: $bg-secondary;
                border: 1px solid $bg-primary;
                transition: 0.5s;
            }
        }
        .home-shadow {
            height: 40px;
            width: 215px;
            background-color: $bg-primary;
            position: absolute;
            top: 0px;
            z-index: -1;
        }
    }
    img {
        width: 600px;
    }
}

/***/

.features {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;
    margin: 10px 0 55px 0;
    .item {
        padding: 30px;
        position: relative;
        height: 200px;
        width: 320px;
        background-color: #F1F1F1;
        z-index: -10;
        .number {
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            background-color: white;
            border-radius: 50%;
            width: 35px;
            height: 35px;
            border: 0.5px solid $color-secondary;
            box-shadow: -3px 0  $bg-primary;
            position: absolute;
            top: 10px;
            left: 10px;
        }
        .text {
            position: relative;
            margin-top: 30px;
            .text-shadow {
                height: 10px;
                width: 23px;
                background-color: $bg-primary;
                position: absolute;
                z-index: -1;
            }
        }
        h3 {
            font-size: 2rem;
        }
        p {
            font-weight: bold;
            line-height: 15px;
        }
        
    }
    
}