header {
    align-items: center;
    background-color: grey;
    display: flex;
    justify-content: space-between;
    div {
        align-items: center;
        display: flex;
        gap: 30px;
        ul {
            display: flex;
            list-style: none;
            gap: 15px;
            a {
                color: white;
                font-weight: 0.6rem;
                text-decoration: none;
            }
        }
        .carrito {
            height: auto;
            margin-right: 40px;
            width: 100%;
        }
    }
    .logo {
        margin-left: 40px;
    }
}