body {
    background-color: rgb(246, 236, 229);
    font-family: 'Comfortaa', Times, serif;
    margin: 0;
}

header {
    text-align: center;
    background: linear-gradient(90deg, rgb(252, 194, 226) 0%, rgb(246, 236, 229) 100%);

}

#cv-pdf {
    text-align: center;
    text-decoration: none;
}

.foto-perfil {
    height: 250px;
    width: auto;
    border-radius: 50%;
}

h1, h2, h3 {
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
}

h1 {
    letter-spacing: 6px;
}

h2 {
    font-size: medium;
    color: rgb(102, 102, 102);
}

h3 {
    text-align: left;
}

footer {
    background-color: #ffffff;
}
