@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Roboto:wght@400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

body {
    background-color: #E5E5E5;
}

header nav {
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header nav img {
    height: 60px;
    margin: 10px 0 10px 30px;
}

header nav .links {
    color: #F3F3F3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
}

header nav .links p {
    margin: 10px;
}

main {
    display: flex;
    justify-content: center;
    margin: 30px;
}

main .seccion-delivery div {
    background-image: url("img/Delivery.jpg");
    width: 490px;
    height: 350px;
    display: flex;
    justify-content: center;
}

main .seccion-delivery div p {
    margin-top: 10px;
    color: #fa200c;
    font-weight: bold
    
}

main .seccion-delivery div span {
    color: #F3F3F3;
}

main .seccion-pedidos {
    background-color: #Fff;
    width: 490px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .seccion-pedidos .contenido-seccion-pedidos {
    margin-bottom: 50px;
}

main .seccion-pedidos .contenido-seccion-pedidos h3 {
    padding: 30px;
    text-align: center;
}

main .seccion-pedidos .contenido-seccion-pedidos img {
    margin: 20px;
}

main .seccion-pedidos .contenido-seccion-pedidos .ranking {
    display: flex;
    justify-content: space-between;
}

main .seccion-pedidos .contenido-seccion-pedidos .ranking h4 {
    margin: 15px;
}












footer {
    background-color: #222222;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer img {
    margin: 40px;
}

footer .links {
    display: flex;
    flex-direction: column;
    color: #F3F3F3;
    margin: 20px;
}

footer .links p {
    margin: 10px 30px;
}
